section
  header(:style="{ background: colors.hex }")
    datepicker(style="webkit-app-region: drag", :value="changeddate", @selecteddate="date", :color1="colors")
    transition(name="slideUp")
      .pickerContent(v-if="pickerVisible")
        sketch-picker(v-model="colors")
        button(@click="saveColor") Ok
    img(src="../../assets/color-picker.svg", @click="pickerVisible = true").picker
    input(type="text", class="new-todo", placeholder="Ajouter une tache" v-model="newTodo" @keyup.enter="addTodo")
  .taches
    h2(v-if="todos.length <= 0") Il n'y a aucune tache
    ul(v-if='!this.transition')
      mixin liste
        li(v-for="(todo, index) in filteredTodos", :key="todo", :class="{editing: todo === editing, completed: todo.completed, first: index === (todos.length - todos.length)}")
          .view
            input(type="checkbox" @click="completed(todo)", :checked="todo.completed").toggle
            span(@dblclick="editTodo(todo)") {{ todo.hour }}
            label(@dblclick="editTodo(todo)") {{ todo.name }}
            button.destroy(@click.prevent="deleteTodo(todo)")
          input(type="text", class="edit", @keyup.enter="doneEdit(todo._id, todo.name)", @blur="doneEdit", v-model="todo.name", v-focus="todo === editing")
      +liste()
    transition-group(v-else, name="slide", tag='ul')
      +liste()
  footer(v-if="todos.length > 0")
    input.toggle-all(type="checkbox", v-model="allDone")
    span {{ todos.length }} taches restantes
    ul
      //li: a(href="#", @click.prevent="filter = 'all'", :style="{selected: filter === 'all'}") All
      //li: a(href="#", @click.prevent="filter = 'all'", :style="{ border: filter === 'all' ? 1 + 'px solid' + colors.hex : 1 + 'px solid #c2c2c2'}") All
      li: a(href="#", @click.prevent="filter = 'all'", :style="buttons('all')") All
      li: a(href="#", @click.prevent="filter = 'todo'", :style="buttons('todo')") Todo
      li: a(href="#", @click.prevent="filter = 'completed'", :style="buttons('completed')") Completed
    button(@click.prevent="deleteCompleted()", :style="{ background: colors.hex }") Supprimer